<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>سبق</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
        <script type="text/javascript" src="../controller/popup.js"></script>
    </head>

    <body>
        <div class="extention-container">
            <div class="tab-header">
                <div class="logo"></div>
                <div class="tabs">
                    <ul id="tabs-menu" class="tabs-header">
<!--                        <li>SABQ NEWS</li>
                        <li class="current">
                            <span class="new-news">1</span>
                            SABQ ARTICLES
                        </li>-->
                    </ul>
                </div>
            </div>
            <div id="tabs-content" class="tabs-content">
                <div class="news-box news-box-unread">
                    <span class="unread"></span>
                    <div class="box-news-left box-news-nophoto">
                        <div class="box-news-title"><a href="">سبعة قتلى واكثر من خمسين جريحا في تفجيرين وسط الرمادي</a></div>
                        <div class="box-news-brief">
                            رانس 24 سبعة قتلى واكثر من خمسين جريحا في تفجيرين وسط الرمادي AFP الرمادي (العراق) (ا ف ب) - اعلنت مصادر في الشرطة واخرى طبية عراقية ...
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>
